.menu-image1 {
  background-image: url(/images/margherit.jpg);
}
.menu-image2 {
  background-image: url(./images/mexicangreenwave);
}
.menu-image3 {
  background-image: url(/images/peppypaneer.jpg);
}
.menu-image4 {
  background-image: url(./images/farmhouse.jpg);
}
.menu-image5 {
  background-image: url(./images/deluxeveggie.jpg);
}
.menu-image6 {
  background-image: url(./images/doublecheesemargherita.jpg);
}
