/* import font  */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
  text-decoration: none;
}

body {
  background-color: rgba(18, 16, 19, 255);
  margin: 0;
  padding: 0;
}
/* color Variable */
:root {
  --black: rgba(17, 15, 18, 255);
  --dark-black: black;
  --white: whitesmoke;
  --orange: rgb(255, 136, 0);
  --transparent-black: rgba(50, 50, 50, 0.9);
}

.header-container {
  border-bottom: 1px solid whitesmoke;
}
.brand-logo a {
  color: var(--orange);
  font-size: 2rem;
  font-family: "Rampart One", cursive;
}

/* nav */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  min-width: 350px;

  padding: 1rem 3rem;
}

.center-nav {
  display: none;
}

.fa-shopping-cart {
  color: var(--white);
  font-size: 2rem;
  transition-duration: 1s;
}

.fas:hover {
  font-size: 2.5rem;
}

.hero {
  position: relative;
}
.hero-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  height: 100%;
  width: 100%;
}
/* menu cards */

.menu-container {
  position: absolute;
  top: 10%;
  transition-duration: 0.5s;
}
.menu-container:hover {
  transform: scale(1, 1);
}
.menu-header {
  color: var(--orange);
  width: 100%;
}
.menu-header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}
.veg-menu-container {
  color: var(--orange);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  border: 2px solid var(--orange);
  background-color: var(--transparent-black);
  border-radius: 8px;
  margin: 1.25rem 0;
  transition-duration: 1s;
}
.veg-menu-container:hover {
  transform: scale(1.025, 1.025);
}
.menu-image-card {
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.menu-name-card {
  width: 100%;
  text-align: center;
  margin: 0.75rem 0;
  font-size: 1.125rem;
  color: var(--white);
}
.menu-text-card {
  width: 100%;
  text-align: center;
  margin: 0.75rem 0;
  color: var(--white);
}
.menu-button {
  text-align: center;
  margin: 0.75rem 0;
}
.menu-button-order {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--orange);
  transition-duration: 1s;
}
.menu-button-order:hover {
  border-bottom: 2px solid var(--orange);
  transform: scale(1.125, 1.125);
}
.menu-button-link {
  color: var(--orange);
}

/* ################################################ */
@media screen and (min-width: 765px) {
  .header-container {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
  }
  .nav-container {
    width: 750px;
  }
  .center-nav {
    display: block;
  }
  .center-nav-button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 0.75rem;
    transition-duration: 1s;
    font-size: 1.25rem;
  }
  .center-nav-button:hover {
    border-bottom: 2px solid var(--white);
    background-color: black;
    color: white;
    transform: scale(1.25, 1.25);
  }
  .center-nav-button-link {
    text-decoration: none;
    color: var(--white);
  }
  .fa-search {
    font-size: 1.25rem;
  }
  .menu-header {
    color: var(--orange);
    width: 100%;
  }
  .menu-header h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .veg-menu-container {
    color: var(--orange);
    height: 600px;
    width: 425px;
    background-color: var(--transparent-black);
    border-radius: 8px;
    margin: 1rem 1rem;
  }
  .menu-image-card {
    /* margin: rem; */
    padding: 1rem;
  }
  .menu-name-card {
    margin: 0.75rem 0;
    font-size: 1.125rem;
  }
  .menu-text-card {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--white);
  }
  .menu-button-order {
    /* margin-bottom: 1rem; */
    font-size: 1.75rem;
  }
}

/* ################################################ */
@media screen and (min-width: 1080px) {
  .header-container {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
  }
  .nav-container {
    width: 1400px;
    padding: 1rem 3rem;
  }
  .brand-logo {
    font-size: 2.5rem;
  }
  .fa-shopping-cart {
    font-size: 2.25rem;
  }
  .center-nav-button {
    font-size: 1.5rem;
  }
  .menu-header {
    color: var(--orange);
    width: 100%;
  }
  .menu-header h1 {
    text-align: center;
    font-size: 3rem;
  }
  .veg-menu-container {
    height: 625px;
    width: 400px;
  }
  .menu-text-card {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--white);
  }
  .menu-button-order {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
